<section style="background-color: whitesmoke;">
  <div class="bg-primary text-light text-center px-4 py-3 text-uppercase fw-bold">
    Order Summary
  </div>
  <div class="px-3">
    <p class="fst-italic my-3">Shipping costs will be calculated based on choice made during checkout</p>
    <ul class="list-unstyled mb-4" *ngIf="(_BasketService.basketTotalSource$ | async) as totals">
      <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">Order subtotal</strong>
        <strong>{{totals.subtotal | currency}}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">Shipping and handling</strong>
        <strong>{{totals.shipping | currency}}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">Total</strong>
        <strong>{{totals.total | currency}}</strong>
      </li>
    </ul>
  </div>
</section>
