<footer class="bg-main-light py-4 mt-4">
  <div class="container">
    <h2>Get The Fresh Cart Application.</h2>
    <p class="text-muted">We will send link to you</p>
    <div class="d-flex">
      <input type="text" class="form-control" placeholder="Email...">
      <button class="main-btn flex-shrink-0 ms-1">Share App Link</button>
    </div>
    <hr>
    <h3 class="h6 text-center">&copy; 2024 FreshCart eCommerce. All rights reserved. Powered by <span class="fw-bold text-info">Ahmed Eldamity</span>.</h3>
  </div>
</footer>
